body {
    font-family: Arial;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.container {
    background: white;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

button {
    padding: 8px;
    margin-top: 5px;
    cursor: pointer;
}

.logout {
    background-color: red;
    color: white;
    float: right;
}

.hidden {
    display: none;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #eee;
    margin: 5px 0;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    color: blue;
    cursor: pointer;
}
